.buttonWrapper {
    margin-top: 2rem;
}
button {
    padding: 1.5rem 3rem;
    color: var(--color-1);
    background-color: var(--color-2);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    cursor: pointer;
}

button:nth-child(2) {
    margin: 0.5rem;
}