@media (max-width: 767px) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .blockbtn-time {
        width: 100%;
        height: 100%;
        padding-bottom: 2rem;
    }
    .title {
        padding: 1rem 0;
    }
    .taskListBlock {
        width: 100%;
        height: 100%;
    }
}